In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
""" Detecting and filtering Outliers """

' Detecting and filtering Outliers '

In [4]:
# c'est grosso modo une application des opérations sur array
data = pd.DataFrame(np.random.randn(1000,4))

In [5]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.029119    -0.002903    -0.029900     0.036365
std       0.975778     1.014180     0.997561     1.023955
min      -3.516086    -3.621766    -3.102147    -2.838707
25%      -0.668826    -0.673376    -0.680765    -0.662516
50%      -0.039365     0.034011    -0.023243     0.100261
75%       0.642755     0.662215     0.657749     0.735133
max       3.236940     3.417928     3.201818     2.554257

In [6]:
# trouver une valeur excédant 3 en valeur absolue dans l'une des colonnes
col = data[2]

In [7]:
col[np.abs(col) >3]

344   -3.102147
354    3.016140
903    3.201818
Name: 2, dtype: float64

In [8]:
# renvoyer toutes les lignes où les valeurs excède -3 ou 3
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
101  0.367064 -3.043163 -1.230413 -0.876634
344 -0.495887  0.612819 -3.102147 -1.003615
354  1.050828  1.659887  3.016140 -1.964898
381 -0.186850 -3.621766 -0.497723  0.170609
527 -0.408814  3.417928 -0.470033 -1.954237
614 -0.039120 -3.188584  0.166473  0.340061
864  3.236940  0.658133  0.527615 -1.968469
903 -0.672907 -0.735029  3.201818 -2.567230
931 -3.516086 -0.584296 -1.603936  1.367866

In [9]:
#retourne 1 ou -1 selon le signe de l'élément
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0 -1.0 -1.0
1  1.0  1.0  1.0  1.0
2 -1.0  1.0  1.0  1.0
3 -1.0 -1.0 -1.0 -1.0
4  1.0 -1.0 -1.0  1.0

In [10]:
""" Permutation and random sampling """

' Permutation and random sampling '

In [11]:
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))

In [71]:
#permuter les index (random)
sampler = np.random.permutation(5)

In [72]:
sampler

array([2, 3, 1, 0, 4])

In [14]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [15]:
#renvoyer le df avec la permutation
df.take(sampler)

    0   1   2   3
4  16  17  18  19
2   8   9  10  11
1   4   5   6   7
0   0   1   2   3
3  12  13  14  15

In [75]:
#extraire un échantillon subset sans remplacement (random)
df.sample(n=3)#définir le nombre de lignes

   data1 key
4      4   a
5      5   b
1      1   b

In [74]:
#extraire un échantillon subset d'une Series avec remplacement
choices = pd.Series([5,7,-1,6,4])

In [18]:
choices

0    5
1    7
2   -1
3    6
4    4
dtype: int64

In [76]:
draws = choices.sample(n=10,replace=True)

In [77]:
draws

1    7
4    4
4    4
2   -1
0    5
0    5
2   -1
4    4
4    4
1    7
dtype: int64

In [21]:
""" ,Computing Indicator Dummy Variables"""

' ,Computing Indicator Dummy Variables'

In [22]:
df = pd.DataFrame({'key' : ['b','b','a','c','a','b'],
                   'data1' : range(6)})

In [23]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [24]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [25]:
#ajouter un prefix aux dummies
dummies = pd.get_dummies(df['key'],prefix='key')

In [26]:
df_with_dummy = df[['data1']].join(dummies)

In [27]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [28]:
""" 7.3 String Manipulation """

' 7.3 String Manipulation '

In [29]:
#String Object methods
val = 'a,b, guido'

In [30]:
val.split()

['a,b,', 'guido']

In [31]:
pieces = [x.strip() for x in val.split()]

In [32]:
pieces

['a,b,', 'guido']

In [33]:
first, second = pieces

In [34]:
first+'::'+second

'a,b,::guido'

In [35]:
'guido' in val

True

In [36]:
val.index(',')

1

In [37]:
val.find(':')

-1

In [38]:
val.count(',')

2

In [39]:
val.replace(',','::')

'a::b:: guido'

In [40]:
""" Reg Ex"""

' Reg Ex'

In [41]:
import re

In [42]:
text = "foo    bar\t baz   \tqux"

In [43]:
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [44]:
#objet regex réutilisable
regex = re.compile('\s+')

In [45]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [46]:
regex.findall(text)

['    ', '\t ', '   \t']

In [47]:
#---
text = """ Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [48]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [49]:
#re.IGNORECASE rend le regex insensible à la casse
regex = re.compile(pattern, flags=re.IGNORECASE)

In [50]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [51]:
m = regex.search(text)

In [52]:
m

In [53]:
text[m.start():m.end()]

'dave@google.com'

In [54]:
#remplacer le match avec un String
print(regex.sub('REDACTED',text))

 Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [55]:
#fractionner le regex de l'email en sections
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [56]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [57]:
m = regex.match('wesm@bright.net')

In [58]:
m.groups()

('wesm', 'bright', 'net')

In [59]:
#retourner une liste de tuples pour les regex fractionnées
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [60]:
print(regex.sub(r'Username: \1, Domain: \2,Suffix: \3',text))

 Dave Username: dave, Domain: google,Suffix: com
Steve Username: steve, Domain: gmail,Suffix: com
Rob Username: rob, Domain: gmail,Suffix: com
Ryan Username: ryan, Domain: yahoo,Suffix: com

In [61]:
""" Vectorized String functions in pandas """

' Vectorized String functions in pandas '

In [62]:
data = {'Dave':'dave@google.com','Steve':'steve@gmail.com','Rob':'rob@gmail.com','Wes':np.nan}

In [63]:
data = pd.Series(data)

In [64]:
data

Dave     dave@google.com
Rob        rob@gmail.com
Steve    steve@gmail.com
Wes                  NaN
dtype: object

In [65]:
data.isnull()

Dave     False
Rob      False
Steve    False
Wes       True
dtype: bool

In [66]:
data.str.contains('gmail')

Dave     False
Rob       True
Steve     True
Wes        NaN
dtype: object

In [67]:
matches = data.str.match(pattern,flags=re.IGNORECASE)

In [68]:
matches

Dave     True
Rob      True
Steve    True
Wes       NaN
dtype: object

In [69]:
matches.str.get(1)

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

In [70]:
data.str[:5]

Dave     dave@
Rob      rob@g
Steve    steve
Wes        NaN
dtype: object