In [1]:
import pandas as pd
import numpy as np

In [2]:
""" 10.3 Split - Apply - Combine"""

' 10.3 Split - Apply - Combine'

In [3]:
tips = pd.read_csv('Wesm/tips.csv',sep=',')

In [4]:
tips.columns = columns=['total_bill','tip','smoker','day','time','size']

In [5]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [6]:
#Trier le df par 'tip_pct' par ordre croissant et renvoyer les 6 derniers
def top(df,n=5,column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [7]:
top(tips,n=6)

     total_bill   tip smoker  day    time  size   tip_pct
108       14.31  4.00    Yes  Sat  Dinner     2  0.279525
182       23.17  6.50    Yes  Sun  Dinner     4  0.280535
231       11.61  3.39     No  Sat  Dinner     2  0.291990
66         3.07  1.00    Yes  Sat  Dinner     1  0.325733
177        9.60  4.00    Yes  Sun  Dinner     2  0.416667
171        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [8]:
#Appliquer la même fonction sur :
tips.groupby('smoker').apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     87        24.71  5.85     No  Thur   Lunch     2  0.236746
       184       20.69  5.00     No   Sun  Dinner     5  0.241663
       50        10.29  2.60     No   Sun  Dinner     2  0.252672
       148        7.51  2.00     No  Thur   Lunch     2  0.266312
       231       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    108       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       182       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       66         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       177        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       171        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [9]:
result = tips.groupby('smoker')['tip_pct'].describe()

In [10]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,150.0,0.159994,0.039193,0.056797,0.137426,0.156181,0.185100,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [11]:
result.unstack()

       smoker
count  No        150.000000
       Yes        93.000000
mean   No          0.159994
       Yes         0.163196
std    No          0.039193
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.137426
       Yes         0.106771
50%    No          0.156181
       Yes         0.153846
75%    No          0.185100
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [12]:
""" Suppressing the Group Keys"""

' Suppressing the Group Keys'

In [13]:
# Desactiver les index de groupes
tips.groupby('smoker',group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
87        24.71  5.85     No  Thur   Lunch     2  0.236746
184       20.69  5.00     No   Sun  Dinner     5  0.241663
50        10.29  2.60     No   Sun  Dinner     2  0.252672
148        7.51  2.00     No  Thur   Lunch     2  0.266312
231       11.61  3.39     No   Sat  Dinner     2  0.291990
108       14.31  4.00    Yes   Sat  Dinner     2  0.279525
182       23.17  6.50    Yes   Sun  Dinner     4  0.280535
66         3.07  1.00    Yes   Sat  Dinner     1  0.325733
177        9.60  4.00    Yes   Sun  Dinner     2  0.416667
171        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [14]:
""" Quantile and Bucket Analysis"""

' Quantile and Bucket Analysis'

In [15]:
 #skip

In [16]:
""" Filling missing values with Group Specific Values"""

' Filling missing values with Group Specific Values'

In [17]:
s = pd.Series(np.random.randn(6))

In [18]:
s[::2] = np.nan

In [19]:
s

0         NaN
1   -1.654386
2         NaN
3    0.184461
4         NaN
5   -0.598297
dtype: float64

In [20]:
s.fillna(s.mean())

0   -0.689408
1   -1.654386
2   -0.689408
3    0.184461
4   -0.689408
5   -0.598297
dtype: float64

In [21]:
states = ['Ohio','New York','Vermont','Florida','Oregon','Nevada','California','Idaho']

In [22]:
group_key = ['East'] * 4 + ['West'] * 4

In [23]:
data = pd.Series(np.random.randn(8), index=states)

In [24]:
data

Ohio          0.004520
New York     -0.178829
Vermont       0.352501
Florida       0.911793
Oregon        1.463824
Nevada        0.488242
California    0.503508
Idaho        -0.693021
dtype: float64

In [25]:
group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [26]:
data[['Vermont','Nevada','Idaho']] = np.nan

In [27]:
data

Ohio          0.004520
New York     -0.178829
Vermont            NaN
Florida       0.911793
Oregon        1.463824
Nevada             NaN
California    0.503508
Idaho              NaN
dtype: float64

In [28]:
data.groupby(group_key).mean()

East    0.245828
West    0.983666
dtype: float64

In [29]:
#remplir les nan
fill_mean = lambda g: g.fillna(g.mean())

In [30]:
data.groupby(group_key).apply(fill_mean)

Ohio          0.004520
New York     -0.178829
Vermont       0.245828
Florida       0.911793
Oregon        1.463824
Nevada        0.983666
California    0.503508
Idaho         0.983666
dtype: float64

In [31]:
""" Random Sampling and Permutation"""

' Random Sampling and Permutation'

In [32]:
# créer un deck de cartes
suits = ['H','S','C','D']
card_val = (list(range(1,11)) + [10]*3)*4
base_names = ['A']+list(range(2,11)) + ['J','K','Q']
cards = []
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)
    
deck = pd.Series(card_val, index=cards)

In [33]:
deck

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
AS      1
2S      2
3S      3
4S      4
5S      5
6S      6
7S      7
8S      8
9S      9
10S    10
JS     10
KS     10
QS     10
AC      1
2C      2
3C      3
4C      4
5C      5
6C      6
7C      7
8C      8
9C      9
10C    10
JC     10
KC     10
QC     10
AD      1
2D      2
3D      3
4D      4
5D      5
6D      6
7D      7
8D      8
9D      9
10D    10
JD     10
KD     10
QD     10
dtype: int64

In [34]:
#Tirer une main 5 cartes du deck
def draw(deck,n=5):
    return deck.sample(n)

In [35]:
draw(deck)

2D     2
5H     5
5D     5
QD    10
2H     2
dtype: int64

In [36]:
#tirer 2 cartes de chaque signe (suit)
get_suit = lambda x: x[-1] # la dernière lettre est une suit

In [37]:
deck.groupby(get_suit).apply(draw, n=2)

C  QC     10
   KC     10
D  KD     10
   9D      9
H  8H      8
   10H    10
S  5S      5
   QS     10
dtype: int64

In [38]:
""" Group Weighted Averae=ge and Correlation  (moyenne pondéré)"""

' Group Weighted Averae=ge and Correlation  (moyenne pondéré)'

In [39]:
df = pd.DataFrame({'category' : ['a','a','a','a','b','b','b','b'], 'data':np.random.randn(8),'weights' : np.random.rand(8)})

In [40]:
df

  category      data   weights
0        a -0.205512  0.019695
1        a -1.065787  0.283647
2        a  0.372777  0.579270
3        a -0.771225  0.783614
4        b -1.111056  0.826567
5        b  0.560830  0.488142
6        b -0.126456  0.678777
7        b -0.358088  0.373777

In [41]:
# moyenne pondérée par category
grouped = df.groupby('category')

In [42]:
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])

In [43]:
grouped.apply(get_wavg)

category
a   -0.416965
b   -0.365095
dtype: float64