In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [3]:
""" 11.1 Date and Time Data Types and Tools"""

' 11.1 Date and Time Data Types and Tools'

In [4]:
#datetime stocke 'date'(date) et 'time'(temps) à la milliseconde

In [5]:
now = datetime.now()

In [6]:
now

datetime.datetime(2018, 6, 24, 13, 59, 35, 254324)

In [7]:
now.year, now.month, now.day

(2018, 6, 24)

In [8]:
#Timedelta : la difference temporelle entre 2 datetime

In [9]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [10]:
delta

datetime.timedelta(926, 56700)

In [11]:
delta.days

926

In [12]:
delta.seconds

56700

In [13]:
from datetime import timedelta

In [14]:
start = datetime(2011,1,7)

In [15]:
start + timedelta(12)#ajouter un ecart de 12 jours

datetime.datetime(2011, 1, 19, 0, 0)

In [16]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [17]:
""" Conversion entre String et Datetime"""

' Conversion entre String et Datetime'

In [18]:
stamp = datetime(2011,1,3)

In [19]:
str(stamp) #convertir en string

'2011-01-03 00:00:00'

In [20]:
stamp.strftime('%Y-%m-%d') #string formaté

'2011-01-03'

In [21]:
#convertir les strings en date
value = '2011-01-03'

In [22]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
datestrs = ['7/6/2011','8/6/2011']

In [24]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [25]:
#Utiliser le parser à la place de 'datetime.strptime'. plus pratique et moins contraignant (ne pas à chaque fois mentionner le format)

In [26]:
from dateutil.parser import parse

In [27]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [28]:
#Capable de parser un bon nombre de format humainement intelligible
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [29]:
#Faire passer le jour avant le mois
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [30]:
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']

In [31]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [32]:
idx = pd.to_datetime(datestrs + [None])

In [33]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [34]:
idx[2]

NaT

In [35]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [36]:
""" 11.2 Time Series Basics """

' 11.2 Time Series Basics '

In [37]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [38]:
ts = pd.Series(np.random.randn(6), index=dates)

In [39]:
ts

2011-01-02    0.250889
2011-01-05   -1.443931
2011-01-07    0.817550
2011-01-08    0.322781
2011-01-10   -1.019460
2011-01-12    0.046336
dtype: float64

In [40]:
ts + ts[::2]

2011-01-02    0.501779
2011-01-05         NaN
2011-01-07    1.635101
2011-01-08         NaN
2011-01-10   -2.038920
2011-01-12         NaN
dtype: float64

In [41]:
stamp = ts.index[0]

In [42]:
stamp

Timestamp('2011-01-02 00:00:00')

In [43]:
""" Indexing, Selection, Subsetting"""

' Indexing, Selection, Subsetting'

In [44]:
#Indexing

In [45]:
stamp = ts.index[2]

In [46]:
ts[stamp]

0.8175504168447747

In [47]:
ts['1/10/2011']

-1.0194597611607226

In [48]:
ts['20110110']

-1.0194597611607226

In [49]:
#Selection

In [50]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000',periods=1000))

In [51]:
longer_ts

2000-01-01    1.484173
2000-01-02   -2.485563
2000-01-03   -2.120720
2000-01-04   -2.105526
2000-01-05   -1.036517
2000-01-06   -0.228162
2000-01-07    0.987317
2000-01-08    0.786845
2000-01-09    1.753711
2000-01-10    0.269876
2000-01-11    0.706342
2000-01-12    0.008664
2000-01-13   -0.923149
2000-01-14   -0.025924
2000-01-15    0.017846
2000-01-16    0.396918
2000-01-17    1.305365
2000-01-18   -0.890689
2000-01-19    0.024091
2000-01-20    0.237223
2000-01-21    0.258041
2000-01-22   -0.920253
2000-01-23    1.007471
2000-01-24    0.041499
2000-01-25   -0.499118
2000-01-26    0.463430
2000-01-27   -0.587860
2000-01-28   -0.310363
2000-01-29   -0.015436
2000-01-30   -1.197962
                ...
2002-08-28   -0.844157
2002-08-29    0.174688
2002-08-30   -1.297009
2002-08-31   -0.617502
2002-09-01   -0.537711
2002-09-02    0.048743
2002-09-03   -1.429561
2002-09-04    1.628217
2002-09-05    1.174773
2002-09-06   -1.988317
2002-09-07   -1.438941
2002-09-08   -1.155339
2002-09-09   -0.026147
2002-09-10   -1.567062
2002-09-11    1.176879
2002-09-12   -1.357142
2002-09-13    0.015585
2002-09-14    1.388727
2002-09-15    0.143796
2002-09-16    2.662469
2002-09-17    0.742894
2002-09-18   -0.134379
2002-09-19   -0.729878
2002-09-20   -0.687428
2002-09-21   -1.343342
2002-09-22    2.273470
2002-09-23   -0.667618
2002-09-24    0.264362
2002-09-25   -1.001544
2002-09-26   -2.210063
Freq: D, Length: 1000, dtype: float64

In [52]:
#Selectionne tous les éléments selon l'année
longer_ts['2001']

2001-01-01    0.094583
2001-01-02   -0.964031
2001-01-03    0.089835
2001-01-04   -0.756209
2001-01-05   -0.855719
2001-01-06   -0.342221
2001-01-07    0.537600
2001-01-08   -0.507268
2001-01-09   -0.575499
2001-01-10    0.275511
2001-01-11   -0.634182
2001-01-12   -1.296419
2001-01-13   -0.969070
2001-01-14   -0.424601
2001-01-15    1.166537
2001-01-16   -0.370030
2001-01-17    1.367736
2001-01-18    1.588314
2001-01-19    1.198567
2001-01-20   -0.360049
2001-01-21    1.888470
2001-01-22   -0.135890
2001-01-23    0.154194
2001-01-24    1.256062
2001-01-25    1.546651
2001-01-26   -0.802952
2001-01-27   -0.528681
2001-01-28   -1.716063
2001-01-29   -0.974437
2001-01-30    0.765329
                ...
2001-12-02   -0.933323
2001-12-03   -0.843540
2001-12-04   -1.182957
2001-12-05    0.537387
2001-12-06   -1.555269
2001-12-07    0.394671
2001-12-08   -0.327329
2001-12-09    0.493028
2001-12-10    0.707714
2001-12-11   -0.353405
2001-12-12    0.203099
2001-12-13    1.516862
2001-12-14   -1.296752
2001-12-15    1.251299
2001-12-16    0.194521
2001-12-17    0.294291
2001-12-18    0.991000
2001-12-19    0.326285
2001-12-20   -0.043911
2001-12-21    1.463143
2001-12-22   -1.222801
2001-12-23    1.626231
2001-12-24   -1.442606
2001-12-25   -0.006753
2001-12-26    0.947481
2001-12-27   -1.382274
2001-12-28   -1.814860
2001-12-29   -0.124394
2001-12-30    0.148829
2001-12-31   -0.781160
Freq: D, Length: 365, dtype: float64

In [53]:
#sélectionne tous les éléments selon l'année et le mois
longer_ts['2001-05']

2001-05-01   -1.694798
2001-05-02    0.661711
2001-05-03    0.572552
2001-05-04   -1.560865
2001-05-05    0.540119
2001-05-06    0.177062
2001-05-07   -1.306094
2001-05-08   -0.814271
2001-05-09    0.099454
2001-05-10   -1.251019
2001-05-11    0.236950
2001-05-12   -0.797782
2001-05-13    1.640810
2001-05-14   -0.067102
2001-05-15    0.343346
2001-05-16    0.366409
2001-05-17   -1.473576
2001-05-18   -0.786103
2001-05-19   -1.213585
2001-05-20   -0.197837
2001-05-21    0.919677
2001-05-22    0.299434
2001-05-23    1.540637
2001-05-24   -1.455467
2001-05-25    0.156402
2001-05-26    1.018440
2001-05-27    1.212883
2001-05-28   -0.921503
2001-05-29   -0.799823
2001-05-30    0.424174
2001-05-31   -0.943902
Freq: D, dtype: float64

In [54]:
#Slicing

In [55]:
#retourner les elts depuis une date à la fin
ts[datetime(2011,1,7) : ]

2011-01-07    0.817550
2011-01-08    0.322781
2011-01-10   -1.019460
2011-01-12    0.046336
dtype: float64

In [56]:
#les time series sont généralement ordonnés par ordre chronologique

In [57]:
ts

2011-01-02    0.250889
2011-01-05   -1.443931
2011-01-07    0.817550
2011-01-08    0.322781
2011-01-10   -1.019460
2011-01-12    0.046336
dtype: float64

In [58]:
ts['1/6/2011' : '1/11/2011']

2011-01-07    0.817550
2011-01-08    0.322781
2011-01-10   -1.019460
dtype: float64

In [59]:
#Slicer avec truncate. tronquer les elts après une date donnée
ts.truncate(after='1/9/2011')

2011-01-02    0.250889
2011-01-05   -1.443931
2011-01-07    0.817550
2011-01-08    0.322781
dtype: float64

In [60]:
# Tout est valable pour les DataFrame
dates = pd.date_range('1/1/2000',periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4), index=dates, columns=['Colorado','Texas','New York','Ohio'])

In [61]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.299048 -0.737133 -0.644897  0.742883
2001-05-09 -1.433256 -0.484924 -0.328729  0.363558
2001-05-16  0.653457 -0.215368  0.564198  1.171937
2001-05-23 -0.014220 -0.096737  1.096332 -1.668914
2001-05-30  0.248705  0.099698  0.422388  0.525149

In [62]:
""" Time Series with Duplicates Indices"""

' Time Series with Duplicates Indices'

In [63]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [64]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [65]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [66]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [67]:
#Verifier que les index ne sont pas uniques
dup_ts.index.is_unique

False

In [68]:
dup_ts['1/2/2000']#dupliqués

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [69]:
#aggreguer les données non-unique 
grouped = dup_ts.groupby(level=0)

In [70]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [71]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [72]:
""" 11.3 Date Ranges, Frequencies, Shifting"""

' 11.3 Date Ranges, Frequencies, Shifting'

In [73]:
ts

2011-01-02    0.250889
2011-01-05   -1.443931
2011-01-07    0.817550
2011-01-08    0.322781
2011-01-10   -1.019460
2011-01-12    0.046336
dtype: float64

In [74]:
resampler = ts.resample('D')

In [75]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [76]:
""" Generating Data Ranges"""

' Generating Data Ranges'

In [77]:
# Créér un range de données time Series selon une periodicité
index = pd.date_range('2012-04-01','2012-06-01')

In [78]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [79]:
# Par défaut la périodicité et de   : 1 Jour

In [80]:
# periods : Définir le nombre d'itération après une date de début
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(start='2012-04-01',periods=21)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21'],
              dtype='datetime64[ns]', freq='D')

In [82]:
#BM (Business Month) : Dernier jour ouvrable du mois
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [83]:
pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [84]:
""" Frequencies and Date Offsets"""

' Frequencies and Date Offsets'

In [85]:
from pandas.tseries.offsets import Hour, Minute

In [86]:
hour = Hour()

In [87]:
hour

In [88]:
four_hours = Hour(4)

In [89]:
four_hours

In [90]:
#Time Range avec une frequence de 4H
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [91]:
Hour(2) + Minute(30)

In [92]:
#10 entrées * frequence de 1h30
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [93]:
#wEEK OF mONTH : WOM
rng = pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI') #3eme Vendredi de chaque mois

In [94]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [95]:
""" Shifting"""

' Shifting'

In [96]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [97]:
ts

2000-01-31    1.108309
2000-02-29   -0.016663
2000-03-31   -0.799452
2000-04-30   -1.050004
Freq: M, dtype: float64

In [98]:
#permet de faire décaler les données sur les index si la fréquence n'est pas connue

In [99]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.108309
2000-04-30   -0.016663
Freq: M, dtype: float64

In [100]:
#les données ont été décalées

In [101]:
ts.shift(-2)

2000-01-31   -0.799452
2000-02-29   -1.050004
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [102]:
#SI la fréquence est connue on décale les données sur le temps (timestamp) dans ce cas là les index

In [103]:
ts.shift(2,freq='M')#Avance de 2 Mois

2000-03-31    1.108309
2000-04-30   -0.016663
2000-05-31   -0.799452
2000-06-30   -1.050004
Freq: M, dtype: float64

In [104]:
ts.shift(3,freq='D')#Avance de 3 Jours

2000-02-03    1.108309
2000-03-03   -0.016663
2000-04-03   -0.799452
2000-05-03   -1.050004
dtype: float64

In [105]:
ts.shift(1,freq='90T')#Décale de 90 min

2000-01-31 01:30:00    1.108309
2000-02-29 01:30:00   -0.016663
2000-03-31 01:30:00   -0.799452
2000-04-30 01:30:00   -1.050004
Freq: M, dtype: float64

In [106]:
""" Shifting dates with offsets"""

' Shifting dates with offsets'

In [107]:
from pandas.tseries.offsets import Day, MonthEnd

In [108]:
now = datetime(2011,11,17)

In [109]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [110]:
now + MonthEnd()#Incremente pour atteindre la fin du Mois Courant

Timestamp('2011-11-30 00:00:00')

In [111]:
now + MonthEnd(2)# Incremente pour atteindre la fin du mois suivant

Timestamp('2011-12-31 00:00:00')

In [112]:
offset = MonthEnd()

In [113]:
offset.rollforward(now) #fin du mois suivant

Timestamp('2011-11-30 00:00:00')

In [114]:
offset.rollback(now)#fin du mois précédent

Timestamp('2011-10-31 00:00:00')

In [115]:
""" Il est pratique d'utiliser les Offsets avec groupby"""

" Il est pratique d'utiliser les Offsets avec groupby"

In [116]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000',periods=20,freq='4d'))

In [117]:
ts

2000-01-15    0.703884
2000-01-19    0.414001
2000-01-23    0.094772
2000-01-27   -0.951558
2000-01-31    0.272954
2000-02-04    0.649034
2000-02-08    1.184961
2000-02-12    0.216624
2000-02-16    0.410339
2000-02-20   -1.957365
2000-02-24   -0.338791
2000-02-28    1.569136
2000-03-03   -1.079739
2000-03-07   -2.201742
2000-03-11    0.084252
2000-03-15   -0.366900
2000-03-19    1.893715
2000-03-23   -0.742138
2000-03-27    0.263013
2000-03-31    0.733862
Freq: 4D, dtype: float64

In [118]:
ts.groupby(offset.rollforward).mean()# Grouper par la fin des mois du DF

2000-01-31    0.106811
2000-02-29    0.247705
2000-03-31   -0.176960
dtype: float64