In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [3]:
import pytz

In [4]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [5]:
#récupérer une timezone

In [6]:
tz = pytz.timezone('America/New_York')

In [7]:
tz

In [8]:
""" Time Zone Localization and Conversion"""

' Time Zone Localization and Conversion'

In [9]:
rng = pd.date_range('3/9/2012 9:30',periods=6, freq='D')

In [10]:
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [11]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [12]:
ts

2012-03-09 09:30:00    0.666648
2012-03-10 09:30:00    0.086892
2012-03-11 09:30:00   -1.077605
2012-03-12 09:30:00   -0.112355
2012-03-13 09:30:00    0.683095
2012-03-14 09:30:00    0.516368
Freq: D, dtype: float64

In [13]:
print(ts.index.tz)

None

In [14]:
#Générer un date range avec un time zone

In [15]:
pd.date_range('3/9/2012 9:30',periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [16]:
ts

2012-03-09 09:30:00    0.666648
2012-03-10 09:30:00    0.086892
2012-03-11 09:30:00   -1.077605
2012-03-12 09:30:00   -0.112355
2012-03-13 09:30:00    0.683095
2012-03-14 09:30:00    0.516368
Freq: D, dtype: float64

In [17]:
#convertir de 'naive' à 'localized'
ts_utc = ts.tz_localize('UTC')

In [18]:
ts_utc

2012-03-09 09:30:00+00:00    0.666648
2012-03-10 09:30:00+00:00    0.086892
2012-03-11 09:30:00+00:00   -1.077605
2012-03-12 09:30:00+00:00   -0.112355
2012-03-13 09:30:00+00:00    0.683095
2012-03-14 09:30:00+00:00    0.516368
Freq: D, dtype: float64

In [19]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [20]:
#reconvertir une time zone 'localized' en un autre fuseau
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.666648
2012-03-10 04:30:00-05:00    0.086892
2012-03-11 05:30:00-04:00   -1.077605
2012-03-12 05:30:00-04:00   -0.112355
2012-03-13 05:30:00-04:00    0.683095
2012-03-14 05:30:00-04:00    0.516368
Freq: D, dtype: float64

In [21]:
#

In [22]:
ts_eastern = ts.tz_localize('America/New_York')

In [23]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.666648
2012-03-10 14:30:00+00:00    0.086892
2012-03-11 13:30:00+00:00   -1.077605
2012-03-12 13:30:00+00:00   -0.112355
2012-03-13 13:30:00+00:00    0.683095
2012-03-14 13:30:00+00:00    0.516368
Freq: D, dtype: float64

In [24]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.666648
2012-03-10 15:30:00+01:00    0.086892
2012-03-11 14:30:00+01:00   -1.077605
2012-03-12 14:30:00+01:00   -0.112355
2012-03-13 14:30:00+01:00    0.683095
2012-03-14 14:30:00+01:00    0.516368
Freq: D, dtype: float64

In [25]:
# peuvent être appliqués sur les index
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [26]:
""" Operations with timezone - Aware Timestamp Objects"""

' Operations with timezone - Aware Timestamp Objects'

In [27]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [28]:
stamp_utc = stamp.tz_localize('utc')

In [29]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [30]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [31]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [32]:
from pandas.tseries.offsets import Hour

In [33]:
stamp = pd.Timestamp('2012-03-12 01:30',tz='US/Eastern')

In [34]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [35]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [36]:
"""OPerations Between Different Time Zones """

'OPerations Between Different Time Zones '

In [37]:
rng = pd.date_range('3/7/2012 9:30',periods=10, freq='B')

In [38]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [39]:
ts

2012-03-07 09:30:00   -0.341256
2012-03-08 09:30:00   -0.906222
2012-03-09 09:30:00   -0.197895
2012-03-12 09:30:00   -0.247504
2012-03-13 09:30:00    1.334197
2012-03-14 09:30:00    0.009580
2012-03-15 09:30:00   -0.053960
2012-03-16 09:30:00    0.944869
2012-03-19 09:30:00    0.676384
2012-03-20 09:30:00    0.678260
Freq: B, dtype: float64

In [40]:
ts1 = ts[:7].tz_localize('Europe/London')

In [41]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [42]:
result = ts1 + ts2

In [43]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [44]:
""" 11.5 Periods and Period Arithmetic """

' 11.5 Periods and Period Arithmetic '

In [45]:
p = pd.Period(2007, freq='A-DEC')# représente une période. toute l'année 2007.

In [46]:
p

Period('2007', 'A-DEC')

In [47]:
# Les opérations sur les Periods s'apliquent sur leur fréquence (A-DEC : YearEnd)

In [48]:
p + 5

Period('2012', 'A-DEC')

In [49]:
p - 2

Period('2005', 'A-DEC')

In [50]:
pd.Period('2014',freq='A-DEC') - p

7

In [51]:
# Period range
rng = pd.period_range('2000-01-01','2000-06-30',freq='M')

In [52]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [53]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -1.465688
2000-02    0.243678
2000-03   -0.477454
2000-04   -0.303797
2000-05    0.132317
2000-06    0.258402
Freq: M, dtype: float64

In [54]:
""" Period Frequency Conversion"""

' Period Frequency Conversion'

In [55]:
#convertir la frequence des Periods

In [56]:
#convertir un event annuel en mensuel
p = pd.Period('2007',freq='A-DEC')

In [57]:
p

Period('2007', 'A-DEC')

In [58]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [59]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [60]:
#A-JUN : l'année termine en Juin
p = pd.Period('2007',freq='A-JUN')

In [61]:
p

Period('2007', 'A-JUN')

In [62]:
p.asfreq('M','start')#début de la période en Juillet 2006

Period('2006-07', 'M')

In [63]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [64]:
# Convertir les periodes selon une certaine logique
rng = pd.period_range('2006','2009', freq='A-DEC')
ts  = pd.Series(np.random.randn(len(rng)), index=rng)

In [65]:
ts

2006    0.953779
2007   -0.420287
2008   -1.385083
2009   -0.059874
Freq: A-DEC, dtype: float64

In [66]:
#convertir en format mensuel pour le début du mois
ts.asfreq('M',how='start')

2006-01    0.953779
2007-01   -0.420287
2008-01   -1.385083
2009-01   -0.059874
Freq: M, dtype: float64

In [67]:
#convertir vers la fin du Business Day du mois
ts.asfreq('B', how='end')

2006-12-29    0.953779
2007-12-31   -0.420287
2008-12-31   -1.385083
2009-12-31   -0.059874
Freq: B, dtype: float64

In [68]:
""" Quarterly Period Frequencies"""

' Quarterly Period Frequencies'

In [69]:
#skip

In [70]:
""" Converting TimeStamps to Periods"""

' Converting TimeStamps to Periods'

In [71]:
rng  = pd.date_range('2000-01-01',periods=3, freq='M')

In [72]:
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [73]:
ts = pd.Series(np.random.randn(3),index=rng)

In [74]:
ts

2000-01-31    0.767301
2000-02-29    1.060414
2000-03-31   -0.775567
Freq: M, dtype: float64

In [75]:
#convertir en periodes
pts = ts.to_period()

In [76]:
pts

2000-01    0.767301
2000-02    1.060414
2000-03   -0.775567
Freq: M, dtype: float64

In [77]:
#

In [78]:
rng = pd.date_range('1/29/2000',periods=6,freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)

In [79]:
ts2.to_period('M')#Conversion en périodes selon les mois

2000-01   -0.333503
2000-01   -0.805498
2000-01   -0.931641
2000-02   -0.050163
2000-02    0.620347
2000-02   -1.289468
Freq: M, dtype: float64

In [80]:
pts = ts2.to_period()

In [81]:
#reconvertir en timestamp
pts.to_timestamp(how='end')

2000-01-29   -0.333503
2000-01-30   -0.805498
2000-01-31   -0.931641
2000-02-01   -0.050163
2000-02-02    0.620347
2000-02-03   -1.289468
Freq: D, dtype: float64

In [82]:
""" Creating a PeriodIndex from Arrays"""

' Creating a PeriodIndex from Arrays'

In [83]:
data = pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/macrodata.csv')

In [84]:
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [85]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
6      1960.0
7      1960.0
8      1961.0
9      1961.0
10     1961.0
11     1961.0
12     1962.0
13     1962.0
14     1962.0
15     1962.0
16     1963.0
17     1963.0
18     1963.0
19     1963.0
20     1964.0
21     1964.0
22     1964.0
23     1964.0
24     1965.0
25     1965.0
26     1965.0
27     1965.0
28     1966.0
29     1966.0
        ...
173    2002.0
174    2002.0
175    2002.0
176    2003.0
177    2003.0
178    2003.0
179    2003.0
180    2004.0
181    2004.0
182    2004.0
183    2004.0
184    2005.0
185    2005.0
186    2005.0
187    2005.0
188    2006.0
189    2006.0
190    2006.0
191    2006.0
192    2007.0
193    2007.0
194    2007.0
195    2007.0
196    2008.0
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [86]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')

In [87]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [88]:
data.index = index

In [89]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64